
form {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid rgb(133, 133, 133);
}

form::after {
  
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

fieldset > * {
  margin: 10px;
}

input {
  padding : 10px
}

button {
  padding: 10px;
  background-color: white;
  border : 1px solid rgb(133, 133, 133);
  color: rgb(99, 99, 99);
  cursor: pointer;
}